
@using Microsoft.AspNetCore.Mvc.Razor.Internal
@using ProfileApp.Common
@model IEnumerable<ProfileApp.Models.Profile>

@{
    var i = 1;
}
<h2>ProfileIndex</h2>
<hr />
<form method="get" class="form-inline">
    <input name="sortBy" value="@ViewData["sortBy"]" hidden="" />
    <input name="term" class="form-control" style="width: 300px" value="@ViewData["term"]"/>
    <button type="submit" class="btn btn-primary" style="margin-left: 10px">Search</button>
</form>
<hr />
<a asp-action="Create" asp-controller="Profile" class="btn btn-dark">Create
    <i class="fa fa-plus"></i>
    </a>
<hr />


<table class="table table-hover">
<thead>
    <tr>
        <th>#</th>
        <th>
            <a asp-action="Index" asp-controller="Profile" asp-route-sortby="FirstName" asp-route-term="@ViewData["term"]" asp-route-ordertype="@ViewData["orderType"]" style="margin-right: 5px"><i class="fa fa-arrow-down"></i></a>
            FirstName
            <a asp-action="Index" asp-controller="Profile" asp-route-sortby="FirstName" asp-route-term="@ViewData["term"]" asp-route-ordertype="@ViewData["orderType"]" style="margin-left: 5px"><i class="fa fa-arrow-up"></i></a>
        </th>
        <th>
            <a asp-action="Index" asp-controller="Profile" asp-route-sortby="LastName" asp-route-term="@ViewData["term"]" asp-route-ordertype="@ViewData["orderType"]" style="margin-right: 5px"><i class="fa fa-arrow-down"></i></a>
            LastName
            <a asp-action="Index" asp-controller="Profile" asp-route-sortby="LastName" asp-route-term="@ViewData["term"]" asp-route-ordertype="@ViewData["orderType"]" style="margin-left: 5px"><i class="fa fa-arrow-up"></i></a>
        </th>
        <th>
            <a asp-action="Index" asp-controller="Profile" asp-route-sortby="Gender" asp-route-term="@ViewData["term"]" asp-route-ordertype="@ViewData["orderType"]" style="margin-right: 5px"><i class="fa fa-arrow-down"></i></a>
            Gender
            <a asp-action="Index" asp-controller="Profile" asp-route-sortby="Gender" asp-route-term="@ViewData["term"]" asp-route-ordertype="@ViewData["orderType"]" style="margin-left: 5px"><i class="fa fa-arrow-up"></i></a>
        </th>
        <th>
            <a asp-action="Index" asp-controller="Profile" asp-route-sortby="Age" asp-route-term="@ViewData["term"]" asp-route-ordertype="@ViewData["orderType"]" style="margin-right: 5px"><i class="fa fa-arrow-down"></i></a>
            Age
            <a asp-action="Index" asp-controller="Profile" asp-route-sortby="Age" asp-route-term="@ViewData["term"]" asp-route-ordertype="@ViewData["orderType"]" style="margin-left: 5px"><i class="fa fa-arrow-up"></i></a>
        </th>
        <th>Phone</th>
        <th>
            <a asp-action="Index" asp-controller="Profile" asp-route-sortby="IsActive" asp-route-term="@ViewData["term"]" asp-route-ordertype="@ViewData["orderType"]" style="margin-right: 5px"><i class="fa fa-arrow-down"></i></a>
            IsActive
            <a asp-action="Index" asp-controller="Profile" asp-route-sortby="IsActive" asp-route-term="@ViewData["term"]" asp-route-ordertype="@ViewData["orderType"]" style="margin-left: 5px"><i class="fa fa-arrow-up"></i></a>
        </th>
        @*<th>TimeCreated</th>
        <th>TimeEdited</th>*@
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var profile in Model)

    {
    <tr>
        <td>@i</td>
        <td>@profile.FirstName</td>
        <td>@profile.LastName</td>
        <td>
            @if (profile.Gender == GenderType.Male)
            {
                <i class="fa fa-male"></i>
            }
            else if (profile.Gender == GenderType.Female)
            {
                <i class="fa fa-female"></i>
            }
            else
            {
                <i class="fa fa-minus"></i>
            }
            @profile.Gender.DisplayName()

        </td>
        <td>@profile.Age</td>
        <td>@profile.Phone</td>
        <td>
            @if (profile.IsActive == IsActiveType.Active)
            {
                <i class="fa fa-check" style="color:chartreuse"></i>
            }
            else if (profile.IsActive == IsActiveType.DeActive)
            {
                <i class="fa fa-times" style="color:dimgray"></i>
            }
            else if (profile.IsActive == IsActiveType.Block)
            {
                <i class="fa fa-ban" style="color: red"></i>
            }
            else
            {
                <i class="fa fa-minus"></i>
            }
            @profile.IsActive.DisplayName()
        </td>
        @*<td>@profile.TimeCreated</td>
        <td>@profile.TimeEdited</td>*@
        <td><a asp-action="Details" asp-route-id="@profile.Id" asp-controller="Profile" class="btn btn-info">Details</a></td>
        <td><a asp-action="Edit" asp-route-id="@profile.Id" asp-controller="Profile" class="btn btn-primary">Edit</a></td>

    </tr>
        i++;
    }
<tr>
    <td colspan="3">
        count: @Model.Count()
    </td>
</tr>
</tbody>
</table>
