
@using Microsoft.AspNetCore.Mvc.Razor.Internal
@using Microsoft.Extensions.Configuration
@using ProfileApp.Common
@model ProfileViewModel

@{
    var i = 1;
}

<div style="display: flex; justify-content: space-between">
    <h2>ProfileIndex</h2>
    <a asp-action="Create" asp-controller="Profile" class="btn btn-dark">
        Create User
        <i class="fa fa-plus"></i>
    </a>
</div>

<hr />

<form method="get" class="form-inline" style="display: flex; justify-content: space-around; align-items: right; direction: rtl">

    <div style="display: flex; flex-direction: column">

        <div style="display: flex; align-items: center; margin: 5px 10px 5px 10px">
            <p style="margin: 0 10px 0 10px; font-size: 18px">جستجو بر اساس نام کاربر :</p>
            <input name="fName" class="form-control" style="width: 200px" value="@Model.FName" />
        </div>

        <div style="display: flex; align-items: center; margin: 5px 10px 5px 10px">
            <p style="margin: 0 10px 0 10px; font-size: 18px">جستجو بر اساس نام خانوادگی کاربر :</p>
            <input name="lName" class="form-control" style="width: 200px" value="@Model.LName" />
        </div>

        <div style="display: flex; align-items: center; margin: 5px 10px 5px 10px">
            <p style="margin: 0 10px 0 10px; font-size: 18px">جستجو بر اساس وضعیت کاربر :</p>
            <select asp-for="IsActiveType" name="isActiveType" asp-items="Html.GetEnumSelectList<IsActiveType>()" class="form-control" placeholder="IsActive"></select>
        </div>

        <div style="display: flex; align-items: center; margin: 5px 10px 5px 10px">

            <p style="margin: 0 10px 0 10px; font-size: 18px">جستجو بر اساس جنسیت کاربر :</p>
            <select asp-for="GenderType" name="genderType" asp-items="Html.GetEnumSelectList<GenderType>()" class="form-control" placeholder="IsActive"></select>
            
        </div>

        <div style="display: flex; align-items: center; margin: 5px 10px 5px 10px">

            <p style="margin: 0 10px 0 10px; font-size: 18px">جستجو بر اساس سن :</p>
            <div style="display: flex; align-items: center" class="form-control">

                <p style="margin: 0 10px 0 10px; font-size: 15px">از سن</p>
                <input type="text" name="StartAge" value="@Model.StartAge" style="width: 50px; height: 25px" />

                <p style="margin: 0 10px 0 10px; font-size: 15px">تا سن</p>
                <input type="text" name="EndAge" value="@Model.EndAge" style="width: 50px; height: 25px" />

            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary" style="margin-left: 10px">Search</button>

</form>
<hr />


<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>
                <a asp-action="Index" asp-controller="Profile" asp-route-sortByAsc="FirstName"
                   asp-route-fName="@Model.FName"
                   asp-route-lName="@Model.LName"
                   asp-route-isActiveType="@Model.IsActiveType"
                   asp-route-genderType="@Model.GenderType"
                   asp-route-startAge="@Model.StartAge"
                   asp-route-endAge="@Model.EndAge"
                   style="margin-right: 5px"><i class="fa fa-arrow-down"></i></a>
                FirstName
                <a asp-action="Index" asp-controller="Profile" asp-route-sortByDsc="FirstName"
                   asp-route-fName="@Model.FName"
                   asp-route-lName="@Model.LName"
                   asp-route-isActiveType="@Model.IsActiveType"
                   asp-route-genderType="@Model.GenderType"
                   asp-route-startAge="@Model.StartAge"
                   asp-route-endAge="@Model.EndAge"
                   style="margin-left: 5px"><i class="fa fa-arrow-up"></i></a>
            </th>
            <th>
                <a asp-action="Index" asp-controller="Profile" asp-route-sortByAsc="LastName"
                   asp-route-fName="@Model.FName"
                   asp-route-lName="@Model.LName"
                   asp-route-isActiveType="@Model.IsActiveType"
                   asp-route-genderType="@Model.GenderType"
                   asp-route-startAge="@Model.StartAge"
                   asp-route-endAge="@Model.EndAge"
                   style="margin-right: 5px"><i class="fa fa-arrow-down"></i></a>
                LastName
                <a asp-action="Index" asp-controller="Profile" asp-route-sortByDsc="LastName"
                   asp-route-fName="@Model.FName"
                   asp-route-lName="@Model.LName"
                   asp-route-isActiveType="@Model.IsActiveType"
                   asp-route-genderType="@Model.GenderType"
                   asp-route-startAge="@Model.StartAge"
                   asp-route-endAge="@Model.EndAge"
                   style="margin-left: 5px"><i class="fa fa-arrow-up"></i></a>
            </th>
            <th>
                <a asp-action="Index" asp-controller="Profile" asp-route-sortByAsc="Gender"
                   asp-route-fName="@Model.FName"
                   asp-route-lName="@Model.LName"
                   asp-route-isActiveType="@Model.IsActiveType"
                   asp-route-genderType="@Model.GenderType"
                   asp-route-startAge="@Model.StartAge"
                   asp-route-endAge="@Model.EndAge"
                   style="margin-right: 5px"><i class="fa fa-arrow-down"></i></a>
                Gender
                <a asp-action="Index" asp-controller="Profile" asp-route-sortByDsc="Gender"
                   asp-route-fName="@Model.FName"
                   asp-route-lName="@Model.LName"
                   asp-route-isActiveType="@Model.IsActiveType"
                   asp-route-genderType="@Model.GenderType"
                   asp-route-startAge="@Model.StartAge"
                   asp-route-endAge="@Model.EndAge"
                   style="margin-left: 5px"><i class="fa fa-arrow-up"></i></a>
            </th>
            <th>
                <a asp-action="Index" asp-controller="Profile" asp-route-sortByAsc="Age"
                   asp-route-fName="@Model.FName"
                   asp-route-lName="@Model.LName"
                   asp-route-isActiveType="@Model.IsActiveType"
                   asp-route-genderType="@Model.GenderType"
                   asp-route-startAge="@Model.StartAge"
                   asp-route-endAge="@Model.EndAge"
                   style="margin-right: 5px"><i class="fa fa-arrow-down"></i></a>
                Age
                <a asp-action="Index" asp-controller="Profile" asp-route-sortByDsc="Age"
                   asp-route-fName="@Model.FName"
                   asp-route-lName="@Model.LName"
                   asp-route-isActiveType="@Model.IsActiveType"
                   asp-route-genderType="@Model.GenderType"
                   asp-route-startAge="@Model.StartAge"
                   asp-route-endAge="@Model.EndAge"
                   style="margin-left: 5px"><i class="fa fa-arrow-up"></i></a>
            </th>
            <th>Phone</th>
            <th>
                <a asp-action="Index" asp-controller="Profile" asp-route-sortByAsc="IsActive"
                   asp-route-fName="@Model.FName"
                   asp-route-lName="@Model.LName"
                   asp-route-isActiveType="@Model.IsActiveType"
                   asp-route-genderType="@Model.GenderType"
                   asp-route-startAge="@Model.StartAge"
                   asp-route-endAge="@Model.EndAge"
                   style="margin-right: 5px"><i class="fa fa-arrow-down"></i></a>
                IsActive
                <a asp-action="Index" asp-controller="Profile" asp-route-sortByDsc="IsActive"
                   asp-route-fName="@Model.FName"
                   asp-route-lName="@Model.LName"
                   asp-route-isActiveType="@Model.IsActiveType"
                   asp-route-genderType="@Model.GenderType"
                   asp-route-startAge="@Model.StartAge"
                   asp-route-endAge="@Model.EndAge"
                   style="margin-left: 5px"><i class="fa fa-arrow-up"></i></a>
            </th>
            @*<th>TimeCreated</th>
                <th>TimeEdited</th>*@
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in Model.Users)

        {
            <tr>
                <td>@i</td>
                <td>@profile.FirstName</td>
                <td>@profile.LastName</td>
                <td>
                    @if (profile.Gender == GenderType.Male)
                    {
                        <i class="fa fa-male"></i>
                    }
                    else if (profile.Gender == GenderType.Female)
                    {
                        <i class="fa fa-female"></i>
                    }
                    else
                    {
                        <i class="fa fa-minus"></i>
                    }
                    @profile.Gender.DisplayName()

                </td>
                <td>@profile.Age</td>
                <td>@profile.Phone</td>
                <td>
                    @if (profile.IsActive == IsActiveType.Active)
                    {
                        <i class="fa fa-check" style="color:chartreuse"></i>
                    }
                    else if (profile.IsActive == IsActiveType.DeActive)
                    {
                        <i class="fa fa-times" style="color:dimgray"></i>
                    }
                    else if (profile.IsActive == IsActiveType.Block)
                    {
                        <i class="fa fa-ban" style="color: red"></i>
                    }
                    else
                    {
                        <i class="fa fa-minus"></i>
                    }
                    @profile.IsActive.DisplayName()
                </td>
                @*<td>@profile.TimeCreated</td>
                    <td>@profile.TimeEdited</td>*@
                <td><a asp-action="Details" asp-route-id="@profile.Id" asp-controller="Profile" class="btn btn-info">Details</a></td>
                <td><a asp-action="Edit" asp-route-id="@profile.Id" asp-controller="Profile" class="btn btn-primary">Edit</a></td>

            </tr>
            i++;
        }
            <tr>
                <td colspan="2">
                count: @Model.Users.Count()
                </td>
            </tr>
            <tr>
                @{
                    for (i = 1; i <= 5; i++)
                    {
                    <td><a asp-action="Pagination" asp-controller="Profile" class="btn btn-primary">@i</a></td>
                    }
                 }
            </tr>
        </tbody>
    </table>
